{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер Задач</title>
    <link rel="stylesheet" href="{% static 'main_page/design.css' %}">
</head>
<body>
    <header>
        <h1>Менеджер Задач</h1>
        <p>С нами управление задачами становится проще!</p>
    </header>
    <main>
        <section>
            <h2>Добро пожаловать!</h2>
            <p>Управляйте вашими задачами эффективно и просто с нашим инструментом.</p>
            <div class="buttons">
                <a href="registration" class="button-link">Регистрация</a>
                <a href="login" class="button-link">Авторизация</a>

            </div>
        </section>
    </main>
    <footer>
        <p>Telegram: <a href="https://t.me/Grasmurr" target="_blank"> @Grasmurr</a></p>
        <p>GitHub: <a href="https://github.com/grasmurr" target="_blank"> Grasmurr</a></p>
        <p>Whatsapp: +79670282821</p>
    </footer>
</body>
</html>
